<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


<style>
body {
	background-color: black;
}
</style>

</head>
<body>


	<form>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<h1>
					UBER
					<h1>
			</div>
			<div class="col-sm-4"></div>
		</div>


		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<h1>
					LOG IN
					<h1>
			</div>
			<div class="col-sm-4"></div>
		</div>

		
		<p>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form>
					<button type="submit" class="btn btn-primary">
						<h1>Please  LogIn</h1>
					</button>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
		</p>
		<p>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form method="get" action="/driverLogin">
					<button type="submit" class="btn btn-primary">
						<h1>Log in as a Driver</h1>
					</button>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
		</p>
			<p>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form method="post" action="/redirectToAdminLogin">
					<button type="submit" class="btn btn-primary">
						<h1>Log in as an Admin</h1>
					</button>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
		</p>
		<p>
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-4">
				<form method="get" action="/signup_Cust">
					<button type="submit" class="btn btn-primary">
						<h1>Log in as an Customer</h1>
					</button>
				</form>
			</div>
			<div class="col-sm-4"></div>
		</div>
		</p>

	</form>

</body>
</html>
