
<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->
<head>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Uber</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link rel="icon"
	href="https://d1a3f4spazzrp4.cloudfront.net/login/images/favicon.a767a268b86a6ce7d1099bec4a9e37aa.ico"
	type="image/x-icon" />
<link rel="stylesheet"
	href="https://d1a3f4spazzrp4.cloudfront.net/login/style-login/style.fbf25943c9172a0361efc70ffc8886cd.css">
<link
	href="https://d1a3f4spazzrp4.cloudfront.net/uber-icons/0.12.0/uber-icons.css"
	rel="stylesheet" />

<link rel="stylesheet"
	href="https://d1a3f4spazzrp4.cloudfront.net/uber-fonts/2.0.1/superfine.css" />
<script src="angularjs/signupAngularCust.js"></script>
</head>
<body ng-app="UberApp" ng-controller="UberCtrl">
	<div class="content">
		<div class="icon-item text--center">
			<a href="https://www.uber.com/"> <i
				class="icon icon_uber
                        push-large--top push--bottom
">
			</i>
			</a>
		</div>

		<p
			class="primary-font primary-font--semibold background-line push-small--top push--bottom">
			<span>Sign In</span>
		</p>
		<form class="form" name="myForm" novalidate>
			<input type="hidden" name="_csrf_token"
				value="1448513114-01-7J2abZNNyPZ33g68DWJ31Ec1rMc3zGGMBb9iRVJKYcw=">
			<input type="hidden" data-js="access-token" name="access_token" />

			<div class="form-group push-tiny--top push-small--bottom">
				<label class="label" for="email">Email</label> <input type="email"
					class="text-input " name="email" ng-model="email"
					placeholder="Email Address" value="" id="email" required /> <span
					style="color: red"
					ng-show="myForm.email.$dirty && myForm.email.$invalid"> <span
					ng-show="myForm.email.$error.required">Email Id is required.</span>
					<span ng-show="myForm.email.$error.email">Invalid Email</span>
				</span>
			</div>
			<div class="form-group push--bottom">
				<label class="label" for="password">Password</label> <input
					type="password" class="text-input " name="password"
					ng-model="password" placeholder="Password" id="password" required />
				<span style="color: red"
					ng-show="myForm.password.$dirty && myForm.password.$invalid">
					<span ng-show="myForm.password.$error.required">Password is
						required.</span>
				</span>
			</div>
			<div class="form-group push--bottom">
				<input type="checkbox" id="checkbox-rememberme" class="hidden"
					checked /> <label class="checkbox" for="checkbox-rememberme">
					Remember Me </label> <span class="rememberme_forgetpassword_separator">&#8226;</span>
				<a class="btn btn--link btn--no-padding"
					href="https://login.uber.com/forgot-password"> Forgot Password
				</a>
			</div>
			<button class="btn btn--huge btn--full" type="submit"
				ng-click="loginCustomer();">Sign In</button>

			<div class="col-md-12" style="margin: 10px;">
				<div class="alert alert-danger" ng-hide="invalid_signup">
					<strong>Invalid EmailId or Password</strong>
				</div>
				<div class="alert alert-danger" ng-hide="unexpected_error">
					<strong>Unexpected error, try again</strong>
				</div>
				<div class="alert alert-danger" ng-hide="success_signup">
					<strong>Login Successful.</strong>
				</div>
			</div>

		</form>
		<hr class="push--top" />
		<p class="text--center">
			Don&#39;t have an account? <a id="sign_up_link"
				class="btn btn--link btn--no-padding"> Sign Up </a>
		</p>
	</div>

	<script
		src="https://d1a3f4spazzrp4.cloudfront.net/login/scripts/analytics.30328e3569a665795cf94cbbf63985a8.js"></script>


	<script
		src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="https://d1a3f4spazzrp4.cloudfront.net/login/scripts/login.cfce02fa08284ef6ee2b2935e45bde9e.js"></script>


</body>
</html>